---
import SEOMaxxing from '@layouts/SEOMaxxing.astro'
import Hero from '@components/landings/Hero.astro'
import Benefits from '@components/landings/Benefits.astro'
import Calculator from '@components/landings/Calculator.jsx'
import Nots from '@components/landings/Nots.astro'
---

<!-- interface Props {
  title: string
  description: string
  lang: string
  class?: string
  htmlClass?: string
  canonical?: string
  type?: string
  image?: string
  twitterCard?: string
  keywords?: string
} -->
<SEOMaxxing
  title='Landing Page Profesional | Impulsa tus Ventas Online'
  description='Crea una landing page profesional y optimizada que convertirá visitantes en clientes. Diseño personalizado, alta conversión y resultados garantizados. ¡Impulsa tus ventas hoy!'
  lang='es'
  keywords='landing page profesional, diseño landing page, crear landing page, página de aterrizaje, conversión web, landing page ventas, diseño web conversion, landing page optimizada, página de destino, marketing digital'
  image='/img/landings/banner.jpg'
  twitterCard='summary_large_image'
  type='website'
  canonical='https://xskino.com/landings/banner.jpg'
  imageWidth={1640}
  imageHeight={935}
  htmlClass='scroll-smooth'>
  <main>
    <Hero />
    <Benefits />
    <Nots />
    <Calculator client:only='react' />

    <section class='py-20 bg-background text-foreground'>
      <div class='container mx-auto px-4 flex flex-col gap-4 items-end'>
        <h3 class='text-lg text-end'>{new Date().getFullYear()}</h3>
        <p class='text-sm text-end max-w-[40ch]'>andresprza@gmail.com</p>
      </div>
    </section>
  </main>
</SEOMaxxing>
