---

---

<div class={`relative grid place-items-center aspect-square -mt-14 ${Astro.props.class}`}>
  <div class='absolute size-2/5 top-[25%] bg-foreground rotate-45'></div>
  <div
    class='absolute avatar-bg size-1/2 bottom-[9.05%] md:bottom-[9.5%] border-3 border-foreground rotate-45'>
  </div>
  <div class='absolute inset-0 image-container'>
    <img src='/img/avatar/avatar-1.png' alt='Imagen de Kino' class='size-full' />
  </div>
</div>

<style>
  .image-container {
    clip-path: polygon(100% 0, 100% 80%, 75% 75%, 50% 100%, 25% 75%, 0 80%, 0 0);
    /* background-color: #fff1; */
    --prim: #ff4da8;
    --sec: #b3cfff;
    --ter: #fff080;
  }

  @keyframes avatarbg {
    0%,
    100% {
      background: var(--col-primary);
    }
    33% {
      background: var(--col-secondary);
    }
    66% {
      background: var(--col-tertiary);
    }
  }

  .avatar-bg {
    animation: avatarbg 5s infinite;
  }
</style>
