---
import MailIcon from '@icons/Mail.astro'
import GitHubIcon from '@icons/GitHub.astro'
import TwitterIcon from '@icons/Twitter.astro'
import LinkedInIcon from '@icons/LinkedIn.astro'
import type { SocialLink } from '@/src/types/app'

interface Props {
  links: SocialLink[]
}

const { links } = Astro.props
---

{
  links.map(({ name, url, mainColor, detailColor, alt }) => {
    return (
      <a
        style={{
          '--social-main-color': `var(--col-${mainColor ?? 'foreground'})`,
          '--social-detail-color': `var(--col-${detailColor ?? 'foreground'})`
        }}
        href={url}
        target={name !== 'mail' ? '_blank' : ''}
        rel='noopener noreferrer'
        class={`
        text-xl relative group outline-none focus:outline-2 focus:outline-foreground size-[3rem] flex justify-center items-center transition-all
        [box-shadow:0.3em_0.3em_0_0_var(--social-detail-color),inset_0.3em_0.3em_0_0_var(--social-main-color)]
        hover:[box-shadow:0_0_0_0_var(--social-detail-color),inset_6em_3.5em_0_0_var(--social-main-color)]
        focus:[box-shadow:0_0_0_0_var(--social-detail-color),inset_6em_3.5em_0_0_var(--social-main-color)]
        `}
        title={alt}>
        {name === 'github' && <GitHubIcon class='icon' />}
        {name === 'twitter' && <TwitterIcon class='icon' />}
        {name === 'linkedin' && <LinkedInIcon class='icon' />}
        {name === 'mail' && <MailIcon class='icon' />}
        <p class='size-0 select-none overflow-hidden opacity-0 p-0 m-0'>{name}</p>
      </a>
    )
  })
}

<style>
  .icon {
    transition: all 0.3s ease-in-out;
    transform: translate(0.1em, 0.1em);
  }
  a:hover .icon,
  a:focus .icon {
    transform: translate(0);
    color: var(--col-background);
  }
</style>
