<div class='flex flex-col gap-4 text-sm'>
  <article>
    <h3 class='text-medium mb-4 font-bold'>Who am I?</h3>
    <p>
      My name is <strong>Andrés Piñón</strong>, a passionate software developer from Mexico.
    </p>
    <p>
      Born in 2004. I've always been interested in technology, at the age of 12 I really got into game
      development, not that I could do much since I didn't have a decent PC back then, but because of that, I
      discovered that <strong>coding was something I really enjoyed</strong>.
    </p>
    <p>
      If you are wondering, <strong>Kino is just my nickname</strong>, you can call me that. ;)
    </p>
  </article>
  <div class='flex flex-col md:flex-row gap-4'>
    <article class='flex-1'>
      <h3 class='text-medium mb-4 font-bold'>What makes me different?</h3>
      <p>
        I am <strong>very passionate about everything I do</strong>, I love working with other people, getting
        the best out of them and myself.
      </p>
      <p>
        Don't know if it's a good thing or not, but I'm a <strong>perfectionist</strong>, I always try to do
        my best, always looking for ways to <strong>improve</strong>.
      </p>
    </article>
    <article class='flex-1'>
      <h3 class='text-medium mb-4 font-bold'>My coding philosophy</h3>
      <p>
        I discovered my love for coding through game development, so I really believe that, just as
        videogames,
        <strong>software development and engineering are a form of art</strong>.
      </p>
      <p>
        Success is achievable through <strong>teamwork</strong> and <strong>love</strong>.
      </p>
    </article>
  </div>
</div>
