---
import ProjectCard from '@components/MainProject'
import type { Project } from '../types/app'

interface Props {
  class?: string
  project: Project
}

const { class: className, project } = Astro.props
---

<div class={`aspect-square md:aspect-[3/4] ${className}`}>
  <ProjectCard client:only='react' project={project} class='z-20' />
</div>
