---
import type { Project } from '../types/app'

interface Props {
  project: Project
  class?: string
}

const { project, class: className } = Astro.props
---

<article
  class={`
  ${className} p-4 rounded-xl border border-foreground/20 text-background
  min-w-max max-w-full grow whitespace-nowrap
`}>
  <h3>{project.name}</h3>
</article>
